<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/plan_pair_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/plan_pair_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanPair"
        tools:targetApi="31">
        <activity
            android:name=".WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".VenueDetailActivity"
            android:exported="false" />
        <activity
            android:name=".VenueActivity"
            android:exported="false" />
        <activity
            android:name=".VendorActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoListActivity"
            android:exported="false" />
        <activity
            android:name=".PhotographerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PhotographerActivity"
            android:exported="false" />
        <activity
            android:name=".MakeupartistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MakeupActivity"
            android:exported="false" />
        <activity
            android:name=".ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".DecorationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DecorActivity"
            android:exported="false" />
        <activity
            android:name=".CateringDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CateringActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".PlannerActivity"
            android:exported="false" />
        <activity
            android:name=".LikedYouActivity"
            android:exported="false" />
        <activity
            android:name=".LikedActivity"
            android:exported="false" />
        <activity
            android:name=".ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".splashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeddingGoalActivity"
            android:exported="false" />
        <activity
            android:name=".SocialPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".SliderActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".RelationshipFamilyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalInterestsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".InterestActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Hobby_lifestyle"
            android:exported="false" />
        <activity
            android:name=".forgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CulturalIdentityActivity"
            android:exported="false" />
        <activity
            android:name=".CompatibilityScoreView"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".BioActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>